*{
  margin:0;
}
.pre{
  /* background-image: url(./Data/image/back.jpg); */
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100px 100px;


}

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  text-align: center;

}

.grocery-img{
  border: solid green 3px;
  height: 200px;
background-image: url(./Data/image/download.jpg);
background-repeat: no-repeat;
background-size:contain;
background-position-x: right;
background-color: white;
}

.title{
  color: red;
 text-align: center;
}
.glist{
  text-align:initial;
  padding-left: 40px;
}
